[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

django = "*"
"psycopg2-binary" = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
pillow = "*"
drf-extensions = "*"
celery = "*"
mimesis = "*"
python-memcached = "*"


[dev-packages]

